.disable-hover {
    pointer-events: none;
}

.link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    color: #337ab7 !important;
    text-align: left;
}

.link-item:hover {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #fff;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #f5f5f5;
}

.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

/* Screensot styles */
.screensc {
   border: 0px solid black;
   border-radius: 20px;
   height: 500px;
   width: 282.5px;
 }

 /* General Styles */

#packageName {
  padding-left: 8px;
}

#packageShortDesc {
  padding-left: 8px;
}

.list-group{
  border: 0px solid black;
  list-style-type: decimal;
  box-sizing: none;
}

.thumbnail {
  border: none;
  margin-left: -50px;
}

li {
    list-style-type: circle;
}

.list-group-item{
  list-style-type: decimal;
  border: none;
  box-sizing: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

.mainlist {
  /* border: 3px solid gray;
  border-radius: 5px; */
}



.mainlist-item {
  list-style-type: disc;
  margin-left: -5px;
}

.link-item {
  margin-left: -8px;
}
