.disable-hover {
    pointer-events: none;
}

.link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    color: #337ab7 !important;
    text-align: left;
}

.link-item:hover {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #fff;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #f5f5f5;
}

.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

/* Screensot styles */
.screensc {
   border: 0px solid black;
   border-radius: 20px;
   height: 500px;
   width: 282.5px;
 }

 /* General Styles */

.list-group{
  border: none;
  
}
